*{
  margin:0px;
  padding:0px;
}

header{
  background-color:salmon;
  display:flex;
  justify-content: space-between;
  padding:25px
}

header h1{
  letter-spacing:3px;
}

header ul li{
  list-style:none;
  padding:5px;
  text-decoration:none;

}

header ul{
  display:flex
}
